#share-button {
    border: none;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: flex;
    align-items: center;

    img {
        height: 40px;
        width: 40px;
        align-self: flex-start;
        margin-left: 16px;
    }
}